<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Leonardo Antonetti da Motta">
    <meta name="description" content="This is a quick website to store and display your books.">
    <title>TaleHub</title>
</head>

<body>
    {% if latest_books_list %}
    <ul>
        {% for book in latest_books_list %}
        <li><a href="{% url 'catalog:details' book.id %}">{{ book.title }}</a> - {{ book.created_at }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No books are available.</p>
    {% endif %}
</body>

</html>